@font-face {
    font-family: computer;
    src: url(basiic.ttf);
}

body {
    background-image: url("gifs/heartrainbow.gif");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

.p1{
    font-family: computer;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(156, 233, 233);
  }